@import "bootstrap/dist/css/bootstrap.min.css";

@import "antd/dist/reset.css";

@import url(./scss/base/_global.scss);

@import url(./scss/layout/layout.scss);

@import url(./scss/layout/antIcon.scss);

@import url(./scss/layout/form.scss);

@import url(./scss/layout/button.scss);

@import url(./scss/layout/antCustom.scss);

@import url(./scss/layout/bootstrapCustom.scss);

@import url(./scss/layout/color.scss);

@import url(./scss/layout/border.scss);

@import url(./scss/layout/serviceCard.scss);

@import url(./scss/layout/label.scss);

@import url(./scss/layout/topbar.scss);

@import url(./scss/layout/offcanvas.scss);

@import url(./scss/layout/searchOffCanvas.scss);

@import url(./scss/layout/searchResultPage.scss);

@import url(./scss/layout/detailedPage.scss);

// // desktop - re
// @import url(./index.css);

// @import url(./global.css);

// @import url(./topbar.css);

// @import url(./landingPage.css);

// @import url(./login.css);

// @import url(./signup.css);

// @import url(profilePanel.css);

// // others

// @import url(./Devices/desktop-xxl.css);

// @import url(./Devices/desktop-xl-xxl.css);

// @import url(./Devices/desktop-lg-xl.css);

// @import url(./Devices/tablet-md.css);

// @import url(./Devices/mobile-lg.css);

// @import url(./Devices/mobile-md.css);
