body {
	background-color: #f8f8f8;
}

#right-bar {
	background-color: #f2f2f7;
	position: fixed !important;
	right: 0 !important;
	top: 5rem !important;
	overflow: auto;
}

.polygon {
	display: inline-block;
	position: relative;
	width: 8rem;
	height: 8rem;
	/* background: red; */
	/* border: 2px solid; */

	background: linear-gradient(142.18deg, #a73ee7 12.72%, #00ebff 89.12%);

	box-sizing: border-box;

	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	-webkit-clip-path: polygon(
		50% 0%,
		100% 25%,
		100% 75%,
		50% 100%,
		0 75%,
		0 25
	) !important;
}

.polygon img {
	position: absolute;
	background-color: white;
	/* equal to border thickness */
	top: 0.2rem;
	/* equal to border thickness */
	left: 0.2rem;
	/* container height - (border thickness * 2) */
	width: 7.6rem;
	/* container height - (border thickness * 2) */
	height: 7.6rem;
	clip-path: inherit;
	-webkit-clip-path: inherit;
}

/* #shape {
	background-color: white;
	width: 10rem;
	height: 10rem;

	clip-path: polygon(
		50% 0%,
		100% 25%,
		100% 75%,
		50% 100%,
		0 75%,
		0 25%
	) !important;
} */

.tedkvn-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tedkvn-center-left {
	display: flex;
	justify-content: left;
	align-items: center;
}

.tedkvn-center-right {
	display: flex;
	justify-content: right;
	align-items: center;
}

.tedkvn-caret-off::before {
	display: none;
}
.tedkvn-caret-off::after {
	display: none;
}

.tedkvn-required:after {
	content: " *";
	color: red;
}

.tedkvn-iconLinkBtnImage {
	min-width: 1.5rem;
}

.tedkvn-formGroupControl-inpurGroup {
	border: 1px solid rgba(102, 102, 102, 0.5);
	border-radius: 0.5rem;
	/* border-color: !important; */
	height: 2.8rem;
	/* border: 1px solid red; */
	/* padding-left: 1rem; */
	/* border-radius: 1rem !important; */
	/* background-color: white; */
	/* max-height: 3rem !important; */
	/* max-width: 17.5rem !important; */
}
label {
	color: #666666;
}

label.formLabel {
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;

	color: #666666;
}

.tedkvn-formControl {
	border: none;
	border-radius: 0.5rem;
	height: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	/* border-color: #666666 0.6; */
	/* border-radius: 1rem 1rem 1rem 1rem !important; */
	/* margin-left: 0.2rem; */
	/* padding: 0.2rem 0.5rem !important; */
}

input[type="search"]::-webkit-search-cancel-button {
	/* Remove default */
	-webkit-appearance: none;

	/* Now your own custom styles */
	margin-left: 10px;
	height: 1.2rem;
	width: 1.2rem;
	color: red;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

.tedkvn-error-toast-container {
	z-index: 99;
}

.tedkvn-formNavigationBtn {
	height: "2.8rem";
	/* max-width: "20rem"; */

	border-radius: 1rem;
	padding: 0.5rem 1.2rem;
}

.tedkvn-text-ellipsis {
	width: 100%;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tedkvn-password-hidden-icon {
	border-radius: 1rem 0 0 1rem;
	padding: 0 1rem !important;
}

.tedkvn-predictionDropDown {
	background-color: white;
	z-index: 99;
	max-height: 10rem;
	/* box-shadow: inset 0 0 0.6rem rgb(104 140 240 / 30%); */
	overflow: auto;
	padding: 0.01rem !important;
	/* display: none; */
}

select {
	color: green !important;
}
select option {
	color: black !important;
}
select option:first-child {
	color: green !important;
}

#company-more-info-header button[aria-expanded="false"] {
	padding-left: 0;
	color: #007bff;
	box-shadow: none;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	-webkit-overflow-scrolling: auto;
	background-color: #f5f5f5;
}

::-webkit-scrollbar:vertical {
	width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(182, 182, 182);
	border-radius: 2rem;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.6rem rgba(104, 140, 240, 0.3);
}
