#signupFormCol {
	padding: 1rem;
	max-width: 40rem;
	max-height: 80vh;
	overflow: auto;
}

#signup-classic-card,
#signup-business-card {
	width: 18rem;
	border-radius: 2rem;
}

#signup-classic-card img,
#signup-business-card img {
	border-radius: 2rem 2rem 0 0;
}

#classicSignupFormCol {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#classicSignupFormCol .card-body {
	max-width: 40rem;
	max-height: 80vh;
	overflow: auto;
}

#classicSignupFormCol .card,
#classicSignupFormCol .navbar {
	border-radius: 1rem;
}

#classicSignupFormCol .card-header {
	border-radius: 1rem 1rem 0 0;
}

.signup-verify-formControl-editBtn {
	border-radius: 1rem 0rem 0rem 0rem;
}

#signup-header {
	justify-content: center;
	align-items: center;
}
