#signupFormCol,
#classicSignupFormCol {
	padding: 1rem;
	border-radius: 1rem;
}

#signup-classic-card,
#signup-business-card {
	width: 18rem;
	border-radius: 2rem;
}

#signup-classic-card img,
#signup-business-card img {
	border-radius: 2rem 2rem 0 0;
}

#classicSignupFormCol {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-verify-formControl-editBtn {
	border-radius: 0 1rem 1rem 0;
}
