#signupFormCol,
#classicSignupFormCol {
	padding: 3rem 4rem;
	border-radius: 1rem;
}

#signup-classic-card,
#signup-business-card {
	width: 18rem;
	border-radius: 2rem;
}

#signup-classic-card img,
#signup-business-card img {
	border-radius: 2rem 2rem 0 0;
}
