#topbar {
	height: 5rem;
}

#formgroup-searchinput-topbar {
	max-width: 10rem;
}

#formgroup-searchlocation-topbar {
	min-width: 15rem;
	max-width: 25rem;
}

#dropdown-searchlocation-topbar {
	position: absolute !important;
	background: white;
	z-index: 1;
	margin-top: 2.5rem;
}

#dropdown-searchlocation-topbar button {
	backface-visibility: hidden !important;
}

#searchinput-topbar,
#searchlocation-topbar {
	font-size: 1rem;
}

#top-rightbar {
	padding-right: 2rem;
}
