@use "../base/global" as global;

#layout {
	@include global.layout-margin();

	header {
		background-image: url("https://firebasestorage.googleapis.com/v0/b/mono-thainow.appspot.com/o/thainow-service-worker%2Fconfig%2Fimg-top-bar.png?alt=media&token=207d8aa7-a3a9-4b40-a8b9-6d24614c6332");

		background-size: cover;

		height: global.$layout-content-marginTop;
	}

	main {
		margin-top: global.$layout-content-marginTop;
	}
}

#RightLayout {
	position: fixed;
	height: 100vh;
	overflow: auto;
	max-width: 25%;
}

#RightLayout::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#RightLayout {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#LeftLayout {
	// position: fixed;
	// height: 100vh;
	overflow: auto;
}

@media only screen and (min-width: global.$lg) {
	#searchbar {
		padding: 0 5rem;
	}
}

@media only screen and (min-width: global.$xxl) {
	#searchbar {
		padding: 0 15rem;
	}
}
