@import "../base/global";

body {
	background-color: #f3f4f6;
}

#layout {
	@include layout-margin();

	header {
		background-image: url("https://firebasestorage.googleapis.com/v0/b/mono-thainow.appspot.com/o/thainow-service-worker%2Fconfig%2Fimg-top-bar.png?alt=media&token=207d8aa7-a3a9-4b40-a8b9-6d24614c6332");

		background-size: cover;

		height: $layout-content-marginTop;
	}

	main {
		margin-top: $layout-content-marginTop;
	}
}

#RightLayout {
	position: fixed;
	height: 100vh;
	overflow: auto;
	max-width: 25%;
}

#RightLayout::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#RightLayout {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#LeftLayout {
	// position: fixed;
	// height: 100vh;
	overflow: auto;
}

.tedkvn-center {
	@include flex-center;
}

.tedkvn-text-ellipsis {
	@include ellipse;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	-webkit-overflow-scrolling: auto;
	background-color: #f5f5f5;
}

::-webkit-scrollbar:vertical {
	width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(182, 182, 182);
	border-radius: 2rem;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.6rem rgba(104, 140, 240, 0.3);
}

@media only screen and (min-width: $lg) {
	#searchbar {
		padding: 0 5rem;
	}
}

@media only screen and (min-width: $xxl) {
	#searchbar {
		padding: 0 15rem;
	}
}
