#service-card {
	& div:has(> .service-tag-overlay) {
		position: relative;
	}

	& .service-tag-overlay {
		position: absolute;
		width: 100%;
		left: 0%;
		bottom: 1%;
		z-index: 800;
		opacity: "90%";
		border: 1px solid gainsboro;
	}

	& .ant-card-body {
		padding: 0 1rem;
	}
}
